<section class="my-2 mx-2">
  <app-predict-nav-bar (search)="submit($event)"></app-predict-nav-bar>
</section>
<section class="my-3">
  <div class="content">
    <h1 class="title">Predict</h1>
    <p>
      Use the controls above to select the desired demographic criteria to make a prediction.
    </p>
    <ul>
      <li><strong>Comorbidity</strong> indicates the condition to test for in the population. 'All' indicates the
        presence of ANY reported condition.</li>
      <li><strong>Gender</strong> filters on one of the two given gender categories. 'All' includes both available.</li>
      <li><strong>ADHD Type</strong> filters prediction on ADHD Primarily Inattentive or Primarily Hyperactive subtypes.
        'All' includes both. 'None' excludes ADHD patients & only evaluates control subjects.</li>
      <li><strong>Algorithm</strong> selects one of three supervised machine learning algorithms to apply for result
        prediction.</li>
      <li><strong>Train/Test Ratio</strong> controls the split ratio of the training and validation data for the
        algorithm to use. Tune the ratio to rerun the classification until it is at maximum
        accuracy.
        <br />
        <i>Note: Some settings produce unpredictable results from the
          algorithms or cause them to not produce classifications correctly. Tune the settings above until a consistent
          output is
          achieved.</i>
      </li>
    </ul>
  </div>
</section>
<ng-container *ngIf="!(loading$ | async) as ld; else loading">
  <section class="my-5 is-flex-grow-5">
    <ng-container *ngIf="(predictResponse$ | async) as predictionResp">
      <div class="container is-max-widescreen content">
        <div class="columns">

          <div class="column is-4 mx-2">
            <ng-container *ngIf="(predictRequest$ | async) as request">

              <div class="card">

                <header class="card-header">
                  <p class="card-header-title">{{ request.algorithm | asWords }}</p>
                </header>

                <div class="card-content">
                  <div class="content">
                    <p *ngIf="request.algorithm === 'LogisticRegression'">
                      <strong>Logistic Regression</strong> works best
                      for classification tasks and is a good algorithm to use in the prediction of any mental health
                      condition across the entire sample population.
                    </p>
                    <p *ngIf="request.algorithm === 'DecisionTree'">
                      <strong>Decision Tree</strong> provides good probabilistic anyalsis for a set of input data. It
                      can work well for both classification and regression tasks and is a good choice for predicting the
                      occurrence of a given mental health condition in the data population.
                    </p>
                    <p *ngIf="request.algorithm === 'GaussianNB'">
                      <strong>Gaussian Naive Bayes</strong>, like
                      Logistic Regression, is also a good algorithm to be applied for classification tasks. Like the
                      name implies, it assumes a normal distribution (Gaussian distribution) of classifiers and
                      evaluates in a naive manner, assuming this holds true. It works well on smaller data sets such as
                      this one and can provide reasonably good prediction accuracy given the correct settings.
                    </p>


                    <p>The model has generated a prediction with <strong>{{predictionResp.accuracy | percent: '2.0-1':
                        'en'}}</strong> accuracy.</p>
                    <p>
                      View the resultant confusion matrix to the right to see the algorithm's classification results.
                      The higher the accuracy value, the fewer false positives and false negatives the model has
                      produced.
                    </p>

                  </div>
                </div>
              </div>
            </ng-container>
          </div>

          <div class="column is-4 mx-2">
            <div class="card">

              <header class="card-header">
                <p class="card-header-title">Algorithm Metrics</p>
              </header>

              <div class="card-content">
                <div class="content">
                  <table>
                    <tbody>
                      <tr *ngIf="predictionResp.accuracy">
                        <td><strong>Accuracy:</strong></td>
                        <td>{{predictionResp.accuracy | percent: '2.0-1': 'en'}}</td>
                      </tr>
                      <tr *ngIf="predictionResp.precision">
                        <td><strong>Precision:</strong></td>
                        <td>{{predictionResp.precision}}</td>
                      </tr>
                      <tr *ngIf="predictionResp.recall">
                        <td><strong>Recall:</strong></td>
                        <td>{{predictionResp.recall}}</td>
                      </tr>
                      <tr *ngIf="predictionResp.threshold">
                        <td><strong>Threshold:</strong></td>
                        <td>{{predictionResp.threshold | percent: '2.0-1': 'en'}}</td>
                      </tr>
                      <tr *ngIf="predictionResp.iterations">
                        <td><strong>Iterations:</strong></td>
                        <td>{{predictionResp.iterations}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-4 mx-2">
            <div class="card">

              <header class="card-header">
                <p class="card-header-title">Confusion Matrix</p>
              </header>


              <div class="card-content">
                <div class="content">
                  <ng-container *ngIf="(cf_matrix$ | async) as cf">
                    <table class="table">
                      <thead>
                        <tr>
                          <th *ngFor="let col of cf.headerRow">{{col}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of cf.rows">
                          <td *ngFor="let cell of row">{{cell}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </ng-container>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="(predictRequest$ | async) as request">
      <ng-container *ngIf="request.algorithm === 'Decision Tree'">
        <section class="my-5">
          <ng-container *ngIf="(predictResponse$ | async) as predictResp">
            @if(predictResp?.tikz!) {
            <script type="text/tikz">
                  {{predictResp?.tikz?.split('\n').join(' ')  ?? ''}}
              </script>
            }
          </ng-container>

        </section>
      </ng-container>
    </ng-container>
  </section>
</ng-container>

<ng-template #loading>
  <div class="container is-max-widescreen content my-5">
    <div class="is-align-content-center">
      <progress class="progress is-large is-primary" max="100">15%</progress>
    </div>
  </div>
</ng-template>