<div class="columns">

  <div class="column is-2">
    <label for="explore-category-select" class="label has-text-white">Category</label>
    <div class="select is-normal is-info">
      <select name="explore-category-select" id="explore-category-select" (change)="changeCategory($event)">
        <ng-container *ngFor="let opt of categories">
          <option [value]="opt">{{categoryMapping[opt]}}</option>
        </ng-container>
      </select>
    </div>
  </div>

  <ng-container *ngIf="category$ | async as currentCategory">
    @if(currentCategory === 'Demographics') {
    <div *ngIf="visualization !== 'Table'" class="column is-2">
      <label for="explore-category-select" class="label has-text-white">Sub-Category</label>
      <div class="select is-normal is-info">
        <select name="explore-category-demo-select" id="explore-category-demo-select"
          (change)="changeSubCategory($event)">
          <ng-container *ngFor="let opt of demographicSubCateories">
            <option [value]="opt">{{demographicCategoryMapping[opt]}}</option>
          </ng-container>
        </select>
      </div>
    </div>
    }
  </ng-container>

  <div class="column is-2">
    <label for="explore-category-select" class="label has-text-white">Visual Format</label>
    <div class="select is-normal is-info">
      <select name="explore-visualization-select" id="explore-visualization-select"
        (change)="changeVisualization($event)">
        <ng-container *ngFor="let opt of visualizations">
          <option [value]="opt">{{visualizationMapping[opt]}}</option>
        </ng-container>
      </select>
    </div>
  </div>

  <div class="column is-2">
    <label for="include-control-data-radio" class="label has-text-white">Include Control Data?</label>
    <div class="radios control is-align-content-center py-3">
      <label class="radio">
        <input type="radio" name="withcontrols" [checked]="includeControlsValue" (change)="toggleControls()" />
        Yes
      </label>
      <label class="radio">
        <input type="radio" name="withcontrols" [checked]="!includeControlsValue" (change)="toggleControls()" />
        No
      </label>
    </div>
  </div>

  <!-- <div class="column is-2"></div> -->

  <div class="column is-2 is-offset is-align-content-right">
    <div class="is-align-content-center pt-5">
      <button class="button is-success" (click)="submit($event)">Refresh</button>
    </div>
  </div>

</div>