<section class="section is-medium mt-2">
  <h1 class="title">Welcome to ADHD Analytics</h1>
  <h2 class="subtitle">
    <div class="block">
      This project seeks to explore the comorbidity of mental illness in individuals with ADHD.
    </div>
    <div class="block">
      All elements within are built on upon the <a target="_blank"
        href="https://datasets.simula.no/hyperaktiv/">Hyperaktiv</a>
      dataset.
    </div>
    <div class="block">
      In individuals with ADHD, the presence of a comorbid mental health condition is extremely common. In fact, <a
        target="_blank" href="https://chadd.org/about-adhd/co-occuring-conditions/"> 33% of children with ADHD have a
        comorbid
        condition</a> and the prevalance of comorbid conditions is nearly 3x higher in individuals with ADHD compared to
      their neurotypical counterparts.
      Individuals with ADHD are also at a higher risk of having a learning disability and adults with ADHD have a 70%
      higher prevalence of obesity compared to the normal population.
    </div>
  </h2>
</section>