<section class="mt-2">
  <section class="section">
    <h1 class="title">Welcome to my Capstone project.</h1>
  </section>

  <div class="block">
    <section class="section">
      <h1 class="title">This project was built using</h1>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="title"><a href="https://www.rust-lang.org/">Rust</a></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="title"><a href="https://angular.dev/">Angular</a></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="title"><a href="https://www.docker.com/">Docker</a></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="title"><a href="https://azure.microsoft.com/en-us#solutions">Microsoft Azure</a></p>
          </div>
        </div>
      </nav>
    </section>
  </div>

</section>