<nav class="navbar" role="navigation" aria-label="navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/home">Home</a>
      <a class="navbar-item" routerLink="/explore">Explore</a>
      <a class="navbar-item" routerLink="/predict">Predict</a>
    </div>
  </div>
</nav>
<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Developed by Matthew Alltop, Fall 2024. This project was built using
      <a target="_blank" href="https://www.rust-lang.org/">Rust</a>,
      <a target="_blank" href="https://angular.dev/">Angular</a>,
      <a target="_blank" href="https://www.docker.com/">Docker</a>,
      and <a target="_blank" href="https://azure.microsoft.com/en-us#solutions">Microsoft Azure</a>
    </p>
    <p>
      <strong>Disclaimer: This project has not been evaluated by medical professionals and should not be used in the
        diagnosis or
        treatment of any medical condition.</strong>
    </p>
  </div>
</footer>