<section class="my-2 mx-2">
  <app-explore-nav-bar (selectedVisualization)="onVisualizationChanged($event)"
    (search)="submit($event)"></app-explore-nav-bar>
</section>
<section class="my-2">
  <!-- TODO Add some descriptive text here?-->
  <!-- NOTE: This may be a good place to use the markdown component & load from external files based on the selection. -->
</section>
<section class="mt-4">
  <ng-container *ngIf="selectedVisualization$ | async as visualization">
    <div class="container">
      @if(visualization === 'Graph') {
      <ng-container *ngIf="plotlyData$ | async as graph; else loading">
        <div class="box">
          <plotly-plot [layout]="graph.layout" [data]="graph.data"></plotly-plot>
        </div>
      </ng-container>
      } @else {
      <ng-container *ngIf="agGridData$ | async as gridData; else loading">
        <app-grid [data]="gridData"></app-grid>
      </ng-container>
      }
    </div>
  </ng-container>
</section>

<ng-template #loading>
  <progress class="progress is-small is-primary" max="100">15%</progress>
</ng-template>