<section class="my-2 mx-2">
  <app-explore-nav-bar (selectedVisualization)="onVisualizationChanged($event)"
    (selectedCategory)="onCategoryChanged($event)"></app-explore-nav-bar>
</section>

<section class="mt-2">
  <ng-container *ngIf="selectedVisualization$ | async as visualization">
    <div class="block">
      @if(visualization === 'Visual') {
      <ng-container *ngIf="plotlyResponse$ | async as graph; else loading">
        <div class="box">
          <plotly-plot [layout]="graph.layout" [data]="graph.data"></plotly-plot>
        </div>
      </ng-container>
      } @else {
      <ng-container *ngIf="gridOptions$ | async as gridOptions; else loading">
        <ag-grid-angular style="width: 100%; height: 550px;" class="ag-theme-quartz-dark" [rowData]="rowData$ | async"
          [gridOptions]="gridOptions"></ag-grid-angular>
      </ng-container>
      }
    </div>
  </ng-container>
</section>

<ng-template #loading>
  <progress class="progress is-small is-primary" max="100">15%</progress>
</ng-template>