/* You can add global styles to this file, and also import other style files */
@use '../node_modules/fontawesome-free/css/all.min.css';
@use "bulma/sass/base";
@use "bulma/sass/themes";
@use 'bulma/sass/elements/button';
@use 'bulma/sass/elements/box';
@use 'bulma/sass/components/dropdown';
@use 'bulma/sass/grid/columns';

@use '../node_modules/ag-grid-community/styles/' as ag;

/* Bulma Dark Theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --on-background: #fff;
    --surface: #121212;
    --on-surface: #fff;
    --primary: #ffeb3b;
    --on-primary: #000;
    --secondary: #ff5722;
    --on-secondary: #fff;
    --error: #f44336;
    --on-error: #fff;
    --warning: #ff9800;
    --on-warning: #fff;
    --info: #2196f3;
    --on-info: #fff;
    --success: #4caf50;
    --on-success: #fff;
  }
}

@include ag.grid-styles(( theme: quartz ));

.ag-theme-quartz-dark {
  .ag-header-row {
    font-size: 12px;
    font-weight: 600;
  }

  .ag-row {
    font-size: 12px;
  }
}
